*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(238, 230, 230);
}
h1{
    color:rgb(212, 209, 206);
}
#form{
    background-color: grey;
    margin: 150px  auto;
    padding:50px;
    font-size: 22px;
    width: 35%;
    border: 2px solid black;
    box-shadow: 10px 10px 5px rgb(125, 103, 104);
}
label{
    color:white;
}
a{
    color:rgb(238, 230, 230);
    
}
#btn{
    color: rgb(238, 230, 230);
    background-color: rgb(86, 84, 83);
    padding: 12px;
    margin:2px auto;
    cursor: pointer;
    text-decoration: none;
   
}
input[type]{
    border: 2px solid rgb(46, 44, 44);
    font-size: 21px;
}
@media screen and (max-width:680px){
    #form{
        width:65%;
        padding:40px;
    }
}
.error-msg{
    margin: 10px 0;
    display: block;
    color: aqua;
    background: red;
    font-size: 20px;
    padding: 10px;

}